#loading {
    width: 100vw;
    height: 100vh;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}